<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()" *ngIf="showCloseBtn">
    <i aria-hidden="true" class="ki ki-close"></i>
  </button>
</div>
<div class="modal-body" [innerHTML]="content">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()"
    *ngIf="cancelBtn">{{cancelBtn}}</button>
  <button type="button" class="btn btn-{{okType}}" (click)="activeModal.close()">{{okBtn}}</button>
</div>